*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow:hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}
/* header */
.hcon{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:16px;
}
.header{
    font-weight: 900;
    font-size: 36px;
    margin-left: 90px;
    flex:0;
}
.links{
    display: flex;
    align-items: center;
    margin-right: 90px;
    flex:0;
}
/* other properties --links-- */
a, ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    gap:16px;
}