

body{
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
}
/* header */
.hcon{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding:16px;
}
.header{
    font-weight: 900;
    font-size: 36px;
    margin-left: 90px;

}
.links{
    display: flex;
    align-items: center;
    margin-right: 90px;

}
/* other properties --links-- */
a, ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    gap:16px;
}
button{
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 900;
}
.tone{
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    margin: 30px;
}
/* Hero Container */
.herocon{
    background-color: #1f2937;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    padding:16px;
}
.big{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 16px;
}
.small{
    font-size: 18px;
    color: #f9faf8;
    margin-bottom: 16px;
}
button.hsu{
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: white;
}
.hero{
    padding:100px 32px 100px 0px;
    flex: 1 1 0;
    width: 0;
    margin-bottom: 16px;
    margin-left:90px;
}
.iph{
    flex: 1 1 0;
    width: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin: 100px 100px 100px 0px;
}
 /* Content Container*/
 .concon{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 64px;
 } 
 .items{
    display: flex;
    align-items: center;
    gap: 52px;
 }
.content{
    max-width: 200px;


}
 img{
    width: 100px;
    height: 100px;
    border: 1px solid #3882f6;
 }
 .text{
    text-align: center;
    line-height: 1.5;
 }
 /* quote container*/
 .qcon{
    flex:1;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    padding: 100px;
   
}
.quote{
    font-style: oblique;
    margin: 0 90px 0 90px;
}
.author{
    font-weight: 900;
    align-self: flex-end;
    margin-right: 90px;
}
/* end Container */
.econ{
    border-radius: 8px;
    display: flex;
    margin: 50px 200px;
    padding: 30px;
    gap: 52px;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
}
.tend, .econt, .esu{
    color: #e5e7eb;
}
.tend{
    font-weight: 900;
    font-size: 36px;
}
.econt{
    font-size: 18px;
}

button.end{
    background-color: #3882f6;
    border: 1px solid white;
    color: #e5e7eb;
}
/* footer container */
.footer{
    flex:0;
    padding: 50px;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
    font-size: 18px;
}
